@import "bourbon";

// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #F5F5F5;
$white:                 #fff;

// Theme Colors
//-------------------------------
$green:                 #2BC0CB;
$blue:                  #2B68CB;
$red:                   #CB402B;
